<section class="sections contact color-white" role="{{role}}">
    <div class="container tac">
        {{> atoms-h2}}
        {{> atoms-single_paragraph}}
        {{> molecules-quick_form}} 
    </div>
</section>