<section class="banner d-flex justify-center color-white" role="banner">
    <div class="container">
        <h1 class="banner__title">{{{title}}}</h1>
        <div class="banner__services" aria-label="Services">
            {{> molecules-services}} 
        </div>
    </div>
</section>