<section id="section2" class="sections" role="{{role}}">
    <div class="container d-grid grid--6-4">
    <div>
        {{> atoms-h2}}
        {{> atoms-single_paragraph}}
    </div>
    <div>
        {{> atoms-image_right}}
    </div>
    </div>
</section>