<div class="footer__copy">{{> atoms-copyright}}</div>
<div class="d-flex align-center">Follow us on: 
    <ul class="social-list d-flex" role="socail links" aria-label="Social links">
        {{#socialLinks}}
        <li class="{{links}}">{{> atoms-social-links}}</li>
        {{/socialLinks}}
    </ul>
</div>