<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Axelerant: Interview Frontend</title>
    
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <!--<link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />-->
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ bodyClass }}">
    
