  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

   <script src="../../js/jquery.min.js?{{ cacheBuster }}"></script>
   <!--<script src="../../js/lazyload.min.js?{{ cacheBuster }}"></script>-->
   <script src="../../js/main.js?{{ cacheBuster }}"></script> 
  
  </body>
</html>
